{% extends 'base.html' %}

{% block main_content %}
{% include 'includes/footer.html' %}


Source details<br>

<br>
ID: {{ object.id }}<br>
Name: {{ object.name }}<br>

 <table class="table table-striped" border="1" width="35%">
       <tr align="center">
            <td><b>ID</b></td>
            <td><b>Source</b></td>
            <td><b>Type</b></td>
            <td><b>Buy</b></td>
            <td><b>Sale</b></td>
       </tr>
        {% for rate in object.rates.all %}
        <tr align="center" width="35%">
            <td>{{ rate.id }}</td>
            <td><a href="{% url 'currency:details-source-bank' rate.id %}"> {{ rate.source.name }} </a></td>
            <td>{{ rate.get_currency_type_display }}</td>
            <td>{{ rate.buy }}</td>
            <td>{{ rate.sale }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

