{% extends 'base.html' %}

{% block main_content %}
{% include 'includes/footer.html' %}

<a href="{% url 'currency:create-source' %}">Create source</a>

 <table border="1" width="35%">
       <tr align="center">
            <td><b>URL</b></td>
            <td><b>Name</b></td>
            <td><b>Details</b></td>
            <td><b>Update</b></td>
            <td><b>Delete</b></td>
       </tr>
        {% for source in source_list %}
        <tr align="center" width="35%">
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>

            {% if request.user.is_authenticated %}
                <td><a href="{% url 'currency:details-source' source.pk %}">Details</a></td>
            {% else %}
                <td>You must be logged in to view details</td>
            {% endif %}

            {% if request.user.is_superuser %}
                <td><a href="{% url 'currency:update-source' source.pk %}">Update</a></td>
            {% else %}
                <td>You have to beat the superuser to remove</td>
            {% endif %}

            {% if request.user.is_superuser %}
                <td><a href="{% url 'currency:delete-source' source.pk %}">Delete</a></td>
            {% else %}
                <td>You have to beat the superuser to remove</td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>
{% endblock %}