{% extends 'base.html' %}

{% block main_content %}
{% include 'includes/footer.html' %}

<a href="create-source/">Create source</a>

 <table border="1" width="35%">
       <tr align="center">
            <td><b>ID</b></td>
            <td><b>URL</b></td>
            <td><b>Name</b></td>
            <td><b>Details</b></td>
            <td><b>Update</b></td>
            <td><b>Delete</b></td>
       </tr>
        {% for source in source_list %}
        <tr align="center" width="35%">
            <td>{{ source.id }}</td>
            <td>{{ source.source_url }}</td>
            <td>{{ source.name }}</td>
            <td><a href="details-source/{{ source.id }}">Details</a></td>
            <td><a href="update-source/{{ source.id }}">Update</a></td>
            <td><a href="delete-source/{{ source.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}